spring.application.name=gerenciamentoSkills

spring.datasource.url=jdbc:postgresql://seu-host:5432/seu-banco
spring.datasource.username=seu-usuario
spring.datasource.password=sua-senha

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# none, validate, update, create, create-drop
spring.jpa.hibernate.ddl-auto=update

spring.sql.init.enabled=true
spring.sql.init.mode=always
spring.sql.init.platform=postgresql
spring.flyway.locations=classpath:db/migration

server.port=8081
spring.mvc.pathmatch.matching-strategy=ant-path-matcher

auth.jwt-secret=sua-chave-jwt-aqui
auth.jwt-expiration-miliseg=36000000

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=seu-email@gmail.com
spring.mail.password=sua-senha-do-email
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true
spring.mail.properties.mail.smtp.ssl.trust=smtp.gmail.com

google.recaptcha.verify.url=https://www.google.com/recaptcha/api/siteverify
recaptcha.secret.key=sua-chave-recaptcha

app.reset-password.base-url=http://localhost:5173/redefinir-senha